* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f5d0d7, #fff5f7);
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 10px;
}

p {
  padding: 20px;
}

ol {
  padding: 20px;
}

ul {
  padding: 20px;
}
