/* Lesson 06 - padding */

/* Properties
1. padding
2. padding-top
3. padding-right
4. padding-bottom
5. padding-left
6. padding shorthand (1, 2, 3, 4 values) */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

h1 {
  background-color: rgb(202, 143, 202);
  color: #ffff;
  padding: 20px;
}

h2 {
  background-color: rgb(202, 143, 162);
  color: #ffffff;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
}

/* Shorthand Padding : top right bottom left ; */

p {
  background-color: rgb(149, 85, 74);
  color: white;
  padding: 10px 20px;
}

ul {
  background-color: rgb(93, 85, 148);
  color: white;
  padding: 15px 10px 15px 50px;
}
