* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #1e3a8a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 45px;
}

header p {
  font-size: 20px;
  margin-top: 10px;
}

nav {
  background-color: royalblue;
  padding: 18px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

nav a:hover {
  color: rosybrown;
  text-decoration: underline;
}

.hero {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 40px 20px;
}

.hero img {
  width: 70%;
  height: 60vh;
  max-width: 100%;
  border-radius: 10px;
}

.hero-content h2 {
  font-size: 42px;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-content a {
  text-decoration: none;
  color: white;
  background-color: royalblue;
  padding: 15px 30px;
  border-radius: 10px;
}

.hero-content a:hover {
  background-color: #1e3a8a;
}

.about {
  background-color: #d0d9f1;
  padding: 60px 20px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.about p {
  width: 70%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}

.books {
  text-align: center;
  padding: 60px 20px;
}

.books h2 {
  font-size: 36px;
  color: #1e3a8a;
  margin-bottom: 40px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.book-card {
  width: 350px;
  background-color: white;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 30px;
}

.book-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #1e3a8a;
}

.book-card p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.book-card a {
  text-decoration: none;
  color: white;
  background-color: royalblue;
  padding: 10px 20px;
  border-radius: 5px;
}

.book-card a:hover {
  background-color: #1e3a8a;
}

/* Membership Section */

.membership-form {
  background-color: #d0d9f1;
  padding: 60px 20px;
}

.membership-form h2 {
  color: #1e3a8a;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.membership-form p {
  color: #555;
  width: 48%;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 1.6;
}

form {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
}

input,
select {
  height: 45px;
}

.radio-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-options input {
  width: auto;
}

.checkbox-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox-options input {
  width: auto;
}

.radio-options label,
.checkbox-options label {
  margin: 0;
}

textarea {
  resize: none;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  gap: 20px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1e3a8a;
}

.contact {
  text-align: center;
  padding: 60px 20px;
}

.contact h2 {
  font-size: 36px;
  color: #1e3a8a;
  margin-bottom: 20px;
}

.contact p {
  color: #555;
  width: 50%;
  margin: 0 auto 20px;
  font-size: 18px;
  line-height: 1.6;
}

.contact label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 8px;
}

.contact input,
.contact select,
.contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.contact textarea {
  resize: none;
}

.contact button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  margin: 10px 5px;
}

.contact button:hover {
  background-color: #1e3a8a;
}

.footer {
  background-color: #1e3a8a;
  color: white;
  padding: 40px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.footer h2 {
  margin-bottom: 15px;
}

.footer p {
  color: #ddd;
  line-height: 1.6;
}

.footer h3 {
  color: white;
  margin-bottom: 20px;
  font-size: 22px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 8px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #93c5fd;
}

.copyright {
  background-color: royalblue;
  text-align: center;
  padding: 15px;
  color: white;
}
